fastapi
redis
types-redis
uvicorn
pydantic
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
pytest
pydantic-settings
aiosqlite
alembic
psycopg2-binary
python-dotenv
structlog
apscheduler
asyncpg
python-jose
pydantic[email]
httpx
coverage
asgi-lifespan
httpx[http2]
pytest
pytest-cov
pytest-asyncio
pytest-mock
databases[asyncpg]
python-multipart